<p class="text-start about-us-text">
    We are a family run rabbitry est. 2010 as a small local business. BRC registered & soon to be council registered
    too.
    <br>
    My Dad started it all off as a young boy taking and showing his pet rabbits at local shows, gaining many rosettes,
    even getting best in show/best of breed many times. It all rubbed off on my mam and me & now we love them as much as
    him and are probably more involved than him nowadays too!
    <br>
    From the beginning we ensure our bunnies are given a great start in life, feeding plenty of fresh hay and pellets.
    All of our adult rabbits are vaccinated against VHDI+2 but the kits are not. For this reason we have a closed stud
    (No visits except authorized personnel).
    <br>
    We do advise your new bunny is vaccinated asap as RHD/UI+D can spread rapidly and is usually fatal!
    <br>
    Our kits are all handled on a daily basis, ensuring a friendly personality (We can get the odd rogue and exception
    to the rule) Not often, but only means more of a quirky personality (Usually).
    <ul class="about-us-text">
        <li>
            Our bunnies photos will be available on our facebook page and keep you updated regularly on their progress
        </li>
        <li>
            Bunnies can be reserved from 6 weeks old to leave at approx 8 weeks
        </li>
        <li>
            We require a £10 non-refundable or transferable deposit to reserve a bunny, it comes off final balance
        </li>
        <li>
            All our bunnies come with a birth certificate, all important change over food and a hint & tips sheet
        </li>
        <li>
            Website updated weekly
        </li>
        <li>
            Starter packs available to buy; straw, hay, shavings, 20kg bag of pellets, food bowl & water bottle
        </li>
        <li>
            Rabbits we specialise include; mini lop, lion lop, netherland dwarf, mini rex, dutch, and of course sometimes
            cross breeds
        </li>
    </ul>
</p>